<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geek Squeak</title>
</head>

<body class="bg-white dark:bg-slate-700 text-slate-700  dark:text-white">
  <main>
    <header class="grid grid-cols-1 lg:grid-cols-4 justify-items-center items-center gap-2 bg-white dark:bg-slate-700 px-5 pb-5 border-b-2">
      <a class="text-5xl sm:text-7xl bg-white dark:bg-slate-700 text-slate-700 dark:text-white lg:justify-self-start mt-5 lg:mt-0 py-1" href="/">
        tech.blog
      </a>
      <nav class="lg:col-span-3 grid grid-cols-1 sm:grid-cols-3 dark:bg-slate-700 text-slate-700 dark:text-white text-center lg:justify-self-end gap-2 lg:gap-20 xl:gap-40">
        <a class="text-2xl sm:text-2xl" href="/">
          Home
        </a>
        <a class="text-xl sm:text-2xl" href="/dashboard">
          Dashboard
        </a>
        {{#unless signedIn}}
          <a class="text-xl sm:text-2xl" href="/sign-in">
            Sign In
          </a>
        {{else}}  
          <a class="text-xl sm:text-2xl" id="sign-out" href="#">
            Sign Out
          </a>
        {{/unless}}
      </nav>
    </header>
    {{{ body }}}
  </main>
  {{#if signedIn}}
    <script>
      document.getElementById("sign-out").addEventListener("click", async () => {
        const response = await fetch("/api/user/sign-out", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
        })
        if (response.ok) {
          document.location.replace("/")
        } else {
          alert(response.statusText)
        }
      })
    </script>
  {{/if}}
</body>

</html>