<section class="grid grid-cols-1 justify-items-center gap-2 p-4">
	<h2 class="text-xl">Sign Up</h2>
	<input class="w-full sm:w-3/4 border rounded-lg p-4 border-gray-300 text-black" type="text" placeholder="Display Name" id="display-name">
	<input class="w-full sm:w-3/4 border rounded-lg p-4 border-gray-300 text-black" type="text" placeholder="Email" id="email" autocomplete="off">
	<input class="w-full sm:w-3/4 border rounded-lg p-4 border-gray-300 text-black" type="password" placeholder="Password" id="password" autocomplete="off">
	<button id="sign-up" class="w-full sm:w-3/4 border rounded-lg p-4" type="submit">Sign Up</button>
	<p>Already have an account? <a class="underline" href="/sign-in">Sign In</a></p>
</section>

<!--sign up script -->

<script>
	document.getElementById("sign-up").addEventListener("click", async () => {
		const displayName = document.getElementById("display-name").value.trim()
		const email = document.getElementById("email").value.trim()
		const password = document.getElementById("password").value.trim()
		if (displayName && email && password) {
			const response = await fetch("/api/user", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					displayName,
					email,
					password,
				}),
			})
			if (response.ok) {
				document.location.replace("/dashboard")
			} else {
				alert(response.statusText)
			}
		}
	})
</script>